/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #d7ccc8;
} */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

header h1 {
    font-family: 'Great Vibes', cursive;
    color: #f5c800;
    background-color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 0px;
    padding: 5px 0px 0px 30px;
}