.header-container {
    width: 116px;
}

.subtitle-container {
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.subtitle {
    font-family: 'Great Vibes', cursive;
    color: #8b7969;
    font-size: 40px;
    margin: 0px auto;
    padding: 15px 0px 0px 0px;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 40px 300px 250px;
}

h2 {
    font-size: 24px;
    color: #6d5845;
    margin-bottom: 30px;
}

.confirm-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}
.confirm-table__text textarea {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table th,
.confirm-table td {
    border: 1px solid #d3c1a5;
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

.confirm-table th {
    background-color: #a89c8c;
    color: white;
    width: 30%;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn {
    background-color: #6d5845;
    color: white;
}

.edit-btn {
    background-color: #d3c1a5;
    color: white;
}