main {
    background-color: #f8f8f8;
}

.subtitle {
    margin: 0px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background: white;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}
