.mypage-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.profile-section {
    margin: 40px 0;
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.profile-text {
    display: flex;
    align-items: center;
    gap: 50px;
    /* 名前とプロフィール編集ボタンの間を広めにする */
}

.profile-text h2 {
    margin: 0;
    /* デフォルトの余白を消す */
}

.edit-profile-btn {
    display: inline-block;
    padding: 8px 16px;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.tabs {
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #ccc;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
}

.tabs li {
    list-style: none;
    margin-right: 30px;
}

.tabs a {
    text-decoration: none;
    color: #333;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}

.tabs a.active {
    color: red;
    border-color: red;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-item img {
    width: 100%;
    height: auto;
}

.product-item a {
    font-size: 16px;
    text-decoration: none;
    color: #333;
}

.not-img {
    width: 100%;
    height:auto;
}