main {
    background-color: #f8f8f8;
}

.container {
    width: 60%;
    margin: 0px auto;
    padding: 20px;
    background-color: #f8f8f8;
}

.title {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control[type="file"] {
    padding: 5px;
}

.form-group textarea.form-control {
    height: 150px;
}

.required {
    color: red;
}

.form__error {
    color: red;
    margin-top: 5px;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn {
    width: 150px;
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 10px;
}

.btn-primary {
    background-color: #f5c800;
    color: white;
    border: none;
}

.btn-secondary {
    background-color: #ddd;
    color: #333;
    border: none;
}

.form-group input[type="checkbox"] {
    border-radius: 50%;
    /* 円形にする */
    -webkit-appearance: none;
    /* デフォルトのスタイルを無効化 */
    appearance: none;
    /* デフォルトのスタイルを無効化 */
    width: 16px;
    /* サイズを調整 */
    height: 16px;
    /* サイズを調整 */
    border: 1px solid #ccc;
    /* 枠線を設定 */
    outline: none;
    /* アウトラインを削除 */
    cursor: pointer;
    /* カーソルをポインターに変更 */
}

.form-group input[type="checkbox"]:checked {
    background-color: #007bff;
    /* 選択時の背景色 */
    border-color: #007bff;
    /* 選択時の枠線の色 */
}

.form-group input[type="checkbox"]:checked::before {
    content: '';
    display: block;
    width: 8px;
    /* チェックマークのサイズ */
    height: 8px;
    /* チェックマークのサイズ */
    background-color: white;
    /* チェックマークの色 */
    border-radius: 50%;
    /* チェックマークを円形にする */
    margin: 3px;
    /* チェックマークの位置を調整 */
}

/* 季節のラベルを横並びにする */
.form-group label {
    display: inline-block;
    margin-right: 10px;
}