body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.breadcrumb {
    width: 60%;
    font-size: 16px;
    margin: 40px auto 0px;
}

.breadcrumb a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    width: 60%;
    margin: 0px auto 40px;
}

.container-img {
    width: 50%;
    padding: 0px auto;
    background-color: #f8f8f8;
}

.container-img img {
    display: block;
    margin: 0px auto;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
}

input[type="file"] {
    display: block;
    margin: 10px auto 0px;
}

.container-info {
    width: 50%;
    padding: 0px auto;
    background-color: #f8f8f8;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
}

.container-info label:not(:first-of-type) {
    margin-top: 20px;
}

.container-description {
    width: 60%;
    margin: 0px auto;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

.container-buttons {
    width: 60%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.btn-save,
.btn-back {
    width: 20%;
    padding: 12px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

/* 変更を保存ボタン */
.btn-save {
    background-color: #fbc02d;
}

/* 戻るボタン */
.btn-back {
    background-color: #a48cc6;
}

.form-delete {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin: 0 auto;
}

/* 削除ボタン */
.btn-delete {
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #e0a800;
}

.btn-back:hover {
    background-color: #b3b3b3;
}

/* 季節チェックボックス */
.checkbox-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.checkbox-group input {
    display: none;
}

.checkbox-group label {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox-group input:checked+label {
    background-color: #ffc107;
    color: white;
    border-color: #e0a800;
}

.form-error {
    color: red;
    font-size: 14px;
}