main {
    background: linear-gradient(135deg, #fcd9f7, #ffbeb8);
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

/* タイトルデザイン */
.title {
    font-size: 50px;
    font-weight: bold;
    color: #e87ca6;
    margin: 5px 0px;
}

.subtitle {
    font-size: 30px;
    color: #333;
    margin: 5px 0px;
}

.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

/* フォームのスタイル */
.form-group {
    position: relative;
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin: 10px 0 5px;
}

.weight {
    display: flex;
    position: relative;
}

.weight input {
    width: calc(100% - 10%);
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.weight span {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #666;
}

/* エラーメッセージ */
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* 送信ボタンのデザイン */
.submit-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #a485f7, #fda3c1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-button:hover {
    opacity: 0.8;
}