.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.target-setting-box {
    width: 40%;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.input-group input {
    width: auto;
    flex-grow: 1;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group span {
    margin-left: 10px;
    font-size: 18px;
    flex-shrink: 0;
}

.error-message {
    color: red;
    font-size: 14px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    display: inline-block;
}

.button.gray {
    width: 30%;
    background: #ccc;
    color: #333;
}

.button.pink {
    width: 30%;
    background: linear-gradient(to right, #a18cd1, #fbc2eb);
    color: #fff;
    cursor: pointer;
}